*~
.*.sw[nop]
*.bak
*.la
*.lo
*.o
*.orig
*.rej
*.gir
*.typelib
.deps
/src/.libs
/build-aux
/Makefile
/Makefile.old
/Makefile.in
/autom4te.cache
/autoscan.log
/compile
/config.cache
/config.guess
/config.h
/config.h.in
/config.log
/config.lt
/config.status
/config.status.lineno
/config.sub
/configure
/configure.lineno
/configure.scan
/install-sh
/intltool-extract.in
/intltool-merge.in
/intltool-update.in
/libtool
/ltmain.sh
/missing
/mkinstalldirs
/src/Makefile.in
/gasket-0.1.pc
/stamp-h1
/src/tmp-introspect
